<nav class="sidebar" [class.collapsed]="collapsed">
  <button class="btn btn-outline-light mb-3" (click)="toggleSidebar()">
    <i [class]="collapsed ? 'fas fa-chevron-right' : 'fas fa-chevron-left'"></i>
    {{ collapsed ? 'Expand' : 'Collapse' }}
  </button>
  <ul class="nav flex-column w-100">
    <li class="nav-item" *ngFor="let section of sections">
      <a [routerLink]="section.route" routerLinkActive="active" class="nav-link">
        <i [class]="section.icon + ' me-2'" aria-hidden="true"></i>
        <span *ngIf="!collapsed">{{ section.label }}</span>
      </a>
    </li>
  </ul>
</nav>
